#playerNamesChange {
    background-color: rgba(3, 145, 3, 0.75);
    padding: 5px 10px;
}
#playerNamesChange:hover {
    cursor: pointer;
}
#restart {
    width: fit-content;
    background-color: rgba(3, 145, 3, 0.5);
}
#restart:hover {
    cursor: pointer;
    background-color: rgba(3, 145, 3, 0.75);
    color: white;
}
#top {
    height: 200px;
}
#board {
    width: 600px;
    height: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#board:hover {
    cursor: pointer;
}
#board > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(3, 145, 3, 0.75);
}